.App {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .name{
    color :rgb(4, 77, 77) ;
    margin-top: -10px;
  }
  .piechart{
     margin-left: 900px;
     margin-top: 470px;
  }
  .barchart{
    margin-left: 250px;
    margin-top: -950px;
  }
  
  .canceled{
    font-size: 30px;
    color : #dec672 ;
    position: absolute;
    margin-left: -165px;
    margin-top: 860px;
   

  }
  .reserved{
    font-size: 30px;
    color :#8f8e8e;
    position: absolute;
    margin-left: 150px;
    margin-top: 860px;
  }
  .pending{
    font-size: 30px;
    color :#8d0a30;
    position: absolute;
    margin-left:100;
    margin-top: 860px;
    margin-bottom: 100px;

  }
.number{
    font-size: 30px;
    color :#c20000; 
}
  